@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

    <div class="jumbotron">
        <h1>Book List:</h1>
    </div>


    @foreach (Book b in Model.Books)
    {
        // print off all the books in cards
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@b.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author: @b.Author</h6>
                <ul>
                    <li>ISBN: @b.Isbn</li>
                    <li>Classification: @b.Classification</li>
                    <li>Category: @b.Category</li>
                    <li>Page Count: @b.PageCount</li>
                    <li>Price: $@b.Price</li>
                </ul>
            </div>
        </div>
        <br />
    }

    <p><b>Page:</b></p>

    <!--Dynamically creates page numbers to go to next set of books-->
    <div page-model="@Model.PageInfo" page-action="Index"></div>


<!-- WHATSSSS UPPPPPP-->